
<!--<app-header></app-header> -->

  <!-- Vertical navbar -->
  <div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center"><img src="assets/logooeg.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body">
          <h4 class="m-0">user</h4>
          <p class="font-weight-light text-muted mb-0">{{myUsername}}</p>
        </div>
      </div>
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a clicked = true  (click)="changeComponent('allIndex')" class="nav-link text-dark font-italic bg-light">
                  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                  All Indexes
        </a>
      </li>
      <li class="nav-item">
        <a (click)="changeComponent('seeIndex')" class="nav-link text-dark font-italic">
                  <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                  See Indexes
        </a>
      </li>
      <li class="nav-item">
        <a (click)="changeComponent('addIndex')" class="nav-link text-dark font-italic">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                  addIndex
              </a>
      </li>
     
    </ul>
  </div>
  <!-- End vertical navbar -->
  
  
  <!-- Page content holder -->
  

 
  
  
  
   <!----------------------------------------------------------------------------------------------------------------->
<!-- SEE ALL INDEX. -->
<body>
  <div class="page-content p-5" id="content"></div>
  <div  class="page-content p-5" *ngIf="componentToShow=='allIndex'" style="display: flex"  >
   <div>
      <li *ngFor="let item of allindex">
          <button  class="button-63" (click)="changeindexselected(item)"(click)="changeComponent(item)" >
           
            {{item}}</button>


      </li>
    </div>
    <!-- 
    <div id="content">  
      <table class="table">
        <ul class="list-group">
            <li class="list-group-item active">AllIndex</li>
            <li class="list-group-item">
              
              <pre><p>{{allindex}}</p></pre>
  
              </li>
            
          
          </ul>
        
      </table>
    </div>
  
    -->
    
  </div>





<!-- SEE  SPECIFIC INDEX. -->

  <div *ngIf="componentToShow=='seeIndex' " class="row">
    <div class="page-content p-5" id="content">  
     
      <span class="d-block p-2 bg-primary text-white">
        <li class="list-group-item active">see index</li>
      </span>
      <form >
        <ul class="list-group">
      
        <input
          type="index"
          [(ngModel)]="index"
          name="index" 
          placeholder="index"
          required="index"
        /><br>
      
        <input
          type="id"
          [(ngModel)]="id"
          name="id"
          placeholder="id"
          required="id"
        /><br>
        <button type="submit" (click)="getIndex()">see index

        </button><br>
      </ul>
      </form>
    </div>
    <div class="row">
      <div class="page-content p-5" style="background-color: #eee;height: 200px;width:800px;overflow-y: scroll">
      
        <pre><p>{{indexresult | json}}</p></pre>
    
      
      </div>
     
    </div>

  </div>
  
 <!----------------------------------------------------------------------------------------------------------------->
<!-- SELECTED INDEX. -->

<div  class="page-content p-5" *ngIf="componentToShow==indexSelected" style="display: flex"  >
 {{indexSelected}}
 
  <div class="separator"></div>

   <!-- DRAG AND DROP OF SELECTED INDEX -->
   <div class="col-lg-7">
    <div class="col-lg-7" id="content">  
      <span class="d-block p-2 bg-primary text-white">
        <li class="list-group-item active">DRAG AND DROP</li>
      </span>

    </div>

    <div class="col-lg-7" id="content">  
        <input
        type="indexname"
        [(ngModel)]="indexNameInput1"
        name="indexname" 
        placeholder="indexname"

      /><br>
      <input
        type="idinput"
        [(ngModel)]="idinput1"
        name="id input"
        placeholder="id "
        
      /><br>
      
        <input (change)="captureFile($event)" type="file">
      </div>
      <div class="col-md-6 footer-space">
        <button type="submit" (click)="uploadFile()">uploadFile</button><br>
        </div>

      
  </div>

</div>







  <!----------------------------------------------------------------------------------------------------------------->
<!-- ADD INDEX. -->


  <div class="row" *ngIf="componentToShow=='addIndex'">
    <div class="page-content p-5" id="content">  
      
      <span class="d-block p-2 bg-primary text-white">
        <li class="list-group-item active">ADD INDEX</li>
      </span>
      <form >
        <ul class="list-group">
      
      
        <div class="row">
          <div class="list-group-item" style="background-color: #eee;">
          
                <input
              type="indexname"
              [(ngModel)]="indexNameInput1"
              name="indexname" 
              placeholder="indexname"
          
            /><br>
          
            <input
              type="idinput"
              [(ngModel)]="idinput"
              name="id input"
              placeholder="id "
              
            /><br>
            <input
            type="docinput"
            [(ngModel)]="docinput"
            name="docinput"
            placeholder="doc"
          
          /><br>
        
          
          </div>
        
        </div>
        
        <button type="submit" (click)="postindex()">addIndex</button><br>
      </ul>
      
      </form>
      
    </div>
    <div class="row">
      
      <div class="page-content p-5" style="background-color: #eee;height: 200px;width:800px;overflow-y: scroll">
      
        <pre><p>{{indexresult1 | json}}</p></pre>
    
      
      </div>
    
    </div>

  </div>
    <!----------------------------------------------------------------------------------------------------------------->
  <!-- DRAG AND DROP. -->
  <div class="row" *ngIf="componentToShow=='addIndex'">
    <div class="page-content p-5" id="content">  
      <span class="d-block p-2 bg-primary text-white">
        <li class="list-group-item active">DRAG AND DROP</li>
      </span>

    </div>

    <div class="page-content p-5" id="content">  
        <input
        type="indexname"
        [(ngModel)]="indexNameInput1"
        name="indexname" 
        placeholder="indexname"

      /><br>
      <input
        type="idinput"
        [(ngModel)]="idinput1"
        name="id input"
        placeholder="id "
        
      /><br>
      
        <input (change)="captureFile($event)" type="file">
      </div>
      <div class="col-md-6 footer-space">
        <button type="submit" (click)="uploadFile()">uploadFile</button><br>
        </div>

      
  </div>
</body>
<app-footer></app-footer>